body {
	background-color: lightgreen;
}

.wrap_out {
	border: 1px solid black;
	background-color: lightblue;
	color: black;
	font-family: Garamond, Times, serif;
	margin: 20px auto;
	width: 50%;
}

.wrap_in header {
	text-align: center;
	margin: 0 40px 10px 40px;
}

.wrap_in header h1 {
	margin-bottom: 0;
}

.wrap_in header p {
	border-bottom: 1px dotted white;
	margin-top: 0;
	padding-bottom: 10px;
}

.wrap_in main form {
	margin-left: 20px;
}

.wrap_in main form h3 {
}

.wrap_in main form #submit_button {
	margin: 20px 0 10px 5px;
	background-color: orange;
}

.wrap_in footer p {
	text-align: center;
	margin: 5px;
	margin-bottom: 10px;
}